.form {
    display: block;
    width: 95%;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #f8f9fa;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-control, .form-select, .form-label {
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  .form-control {
    border-radius: 4px; 
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 16px;
  }

  .form-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
  }
  
  .btn {
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #007bff;
    border: 1px solid #007bff;
    color: white;
  }
  
  .btn:hover, .action-btn:hover {
    background-color: #0056b3;
    border-color: #004085;
  }
  
  .action-btn {
    width: 200px;
    cursor: pointer;
    border-radius: 16px;
    padding: 10px 20px;
    font-size: 8px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #007bff;
    border: 1px solid #007bff;
    color: white;
  }

  .field-btn {
    background-color: #6c757d; /* Grey background */
    color: #ffffff;            /* White text color */
    border: 1px solid #6c757d; /* Border matching the background */
    padding: 10px 20px;        /* Padding around the text */
    border-radius: 4px;        /* Slightly rounded corners */
    font-size: 16px;           /* Font size */
    font-weight: bold;         /* Bold text */
    cursor: pointer;           /* Pointer cursor on hover */
    text-align: center;        /* Centered text */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition */
  }
  
  .field-btn:hover {
    background-color: #5a6268; /* Darker grey on hover */
    border-color: #5a6268;     /* Darker border on hover */
  }
  
  .form-select {
    border-radius: 4px; 
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 16px;
  }
  
  .form-select:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
  }
  
  .form-label {
    font-size: 14px;
    font-weight: bold;
    color: #495057;
    margin-bottom: 5px;
    display: block;
  }

  .error-label {
    color: red;
    font-weight: bold;
    font-size: 14px;
    margin: 5px 0;
    display: block;
  }

  .dropdown-menu {
    display: block;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .dropdown-item {
    color: #333;
    padding: 0.5rem 1rem;
  }
  